<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="PYTHONPATH" value="C:\inetpub\wwwosfa" />
        <add key="WSGI_HANDLER" value="osfasite.wsgi.application" />
        <add key="DJANGO_SETTINGS_MODULE" value="osfasite.settings" />
    </appSettings>
</configuration>