* {
      box-sizing: border-box;
}

/* Float four columns side by side */
.column {
      float: left;
      width: 25%;
      padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
      content: "";
      display: table;
      clear: both;
}

/* Style the counter cards */
.card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
      padding: 16px;
      text-align: center;
      background-color: #f1f1f1;
}



/* Dropdown Button */
.dropbtn {
      background-color: rgb(37, 37, 41);
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
}
    
/* The container <div> - needed to position the dropdown content */
.dropdown {
      position: relative;
      display: inline-block;
}
    
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 220px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
}
    
/* Links inside the dropdown */
.dropdown-content a {
      color: rgb(37, 37, 41);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
}
    
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

.live-status li {
      font-size: 0.75rem;
}