{% load static %}
<nav class="navbar navbar-dark bg-dark">
      <div class="container">
            <a class="navbar-brand" href="#">
                  <img src="{% static 'info/images/uga.png' %}" alt="" width="159" height="75">
            </a>     
            <div class="dropdown">
                  <button class="dropbtn">Documents 
                        <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                        <a href="#">Datasets</a>
                        <a href="#">Encrypt File</a>
                        <a href="#">OSFA Procedures &gt;</a>
                        <a href="#">Reports</a>
                        <a href="#">Requests</a>
                  </div>
            </div>
            <div class="dropdown">
                  <button class="dropbtn">Employees 
                        <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                        <a href="#">Directory</a>
                        <a href="#">Floor Plans</a>
                        <a href="#">Leave &gt;</a>
                        <a href="#">Must Read</a>
                        <a href="#">Organizational Chart</a>
                        <a href="#">Staff Handbook</a>
                        <a href="#">Work Order</a>
                  </div>
            </div> 
            <div class="dropdown">
                  <button class="dropbtn">Forms & Apps 
                        <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                        <a href="#">Access Manager Monitor</a>
                        <a href="#">EDE</a>
                        <a href="#">Form Finder</a>
                        <a href="#">FWS Jobs</a>
                        <a href="#">HOPE Transient</a>
                        <a href="#">Reception</a>
                        <a href="#">Routing Slip</a>
                        <a href="#">Travel Forms</a>
                  </div>
            </div> 
            <div class="dropdown">
                  <button class="dropbtn">Resources 
                        <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                        <a href="#">Approved Software</a>
                        <a href="#">Approved USB Users</a>
                        <a href="#">Calculators</a>
                        <a href="#">Contact Directory</a>
                        <a href="#">OSFA Quick Sheets</a>
                        <a href="#">Scholarship Universe</a>
                        <a href="#">Training Videos</a>
                  </div>
            </div> 
            <div class="dropdown">
                  <button class="dropbtn">Schedules 
                        <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                        <a href="#">Calendar</a>
                        <a href="#">Client Services On-Call</a>
                        <a href="#">Flex Time</a>
                        <a href="#">Peak Processing and Service Dates</a>
                  </div>
            </div>   
            <div class="dropdown">
                  <button class="dropbtn">Admin 
                        <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                  </div>
            </div>            
      </div>
</nav>