{% load static %}
<nav class="navbar navbar-dark bg-dark">
      <div class="container">
            <a class="navbar-brand" href="#">
                  <img src="{% static 'info/images/uga.png' %}" alt="" width="159" height="75">
            </a>     
            <div class="dropdown">
                  <button class="dropbtn">Documents 
                        <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                        
                  </div>
            </div>
            <div class="dropdown">
                  <button class="dropbtn">Links 
                        <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                        <a href="#">Encrypt Files</a>
                        <a href="#">Apps Reports</a>
                  </div>
            </div> 
            <div class="dropdown">
                  <button class="dropbtn">Forms & Apps 
                        <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                        <a href="#">Inventory</a>
                        <a href="#">Reception</a>
                        <a href="#">Requests</a>
                  </div>
            </div> 
            <div class="dropdown">
                  <button class="dropbtn">Resources 
                        <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                  </div>
            </div> 
            <div class="dropdown">
                  <button class="dropbtn">Schedules 
                        <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                  </div>
            </div>   
            <div class="dropdown">
                  <button class="dropbtn">Admin 
                        <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                  </div>
            </div>            
      </div>
</nav>