{% load static %}
<nav class="navbar navbar-dark bg-dark">
      <div class="container">
            <a class="navbar-brand" href="#">
                  <img src="{% static 'info/images/uga.png' %}" alt="" width="159" height="75">
            </a>
            <div class="dropdown">
                  <button class="dropbtn">OSFA Info
                        <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                        <a href="#">Approved Software</a>
                        <a href="#">Approved USB Users</a>
                        <a href="#">Calendar</a>
                        <a href="#">Client Services On-Call</a>
                        <a href="#">Contact Directory</a>
                        <a href="#">Flex Time</a>
                        <a href="#">Peak Processing and Service Dates</a>
                        <a href="#">Routing Slip</a>
                        <a href="#">Training Videos</a>
                  </div>
            </div>            
            <div class="dropdown">
                  <button class="dropbtn">Documents 
                        <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                        <a href="#">Awarding Manual</a>
                        <a href="#">Federal Work Study</a>
                        <a href="#">Floor Plans</a>
                        <a href="#">General</a>
                        <a href="#">Leave Time Conversion Chart</a>
                        <a href="#">Loan Net and Gross Disbursements</a>
                        <a href="#">Loans</a>
                        <a href="#">Org Chart</a>
                        <a href="#">OSFA Quick Sheets</a>
                        <a href="#">Procedures</a>
                        <a href="#">Scholarships</a>
                        <a href="#">System Processing Docs</a>
                        <a href="#">Technoworld</a>
                        <a href="#">Travel Forms</a>
                        <a href="#">WIA</a>
                  </div>
            </div>
            <div class="dropdown">
                  <button class="dropbtn">External Sites
                        <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                        <a href="#">Apps Reports</a>
                        <a href="#">Encrypt Files</a>                        
                        <a href="#">OneUSG Connect</a>
                        <a href="#">Staff Handbook</a>
                  </div>
            </div> 
            <div class="dropdown">
                  <button class="dropbtn">Forms & Apps 
                        <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                        <a href="#">EDE</a>
                        <a href="#">Employees</a>
                        <a href="#">Form Finder</a>
                        <a href="#">HOPE Transient</a>
                        <a href="#">Inventory</a>
                        <a href="#">Leave</a>
                        <a href="#">Must Read</a>
                        <a href="#">OSFA Form Email</a>
                        <a href="#">Reception</a>
                        <a href="#">Requests</a>
                        <a href="#">Work Order</a>
                  </div>
            </div> 
            <div class="dropdown">
                  <button class="dropbtn">Admin Mgmt 
                        <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                        <a href="#">Configurations</a>
                        <a href="#">Permissions</a>                        
                        <a href="#">Security</a>
                        <a href="#">Tasks</a>
                        <a href="#">Templates</a>
                        <a href="#">Users [Employee]</a>                        
                  </div>
            </div> 
            <div class="dropdown">
                  <button class="dropbtn">Employee Mgmt. 
                        <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                        <a href="#">Directory</a>
                        <a href="#">Job Positions</a>
                        <a href="#">Profiles</a>
                        <a href="#">Training</a>                        
                        <a href="#">Work Schedule</a>
                  </div>
            </div>            
            <div class="dropdown">
                  <button class="dropbtn">Leave Mgmt. 
                        <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                        <a href="#">Calendar</a>
                        <a href="#">Manage</a>                        
                        <a href="#">Request</a>
                  </div>
            </div>   
            <div class="dropdown">
                  <button class="dropbtn">Work Order Mgmt. 
                        <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                        <a href="#">Manage</a>
                        <a href="#">Configurations</a>
                  </div>
            </div>             
      </div>
</nav>